ACTION=="add", KERNEL=="event*", SUBSYSTEM=="input", ATTRS{name}=="Logitech M570", TAG+="systemd", ENV{SYSTEMD_WANTS}="accelerator@logitechm570.service", SYMLINK+="logitechm570"
