[Unit]
Description=Mouse accelerator service
BindsTo=dev-%i.device
After=dev-%i.device

[Service]
Type=simple
Restart=no
ExecStart=/bin/accelerator -m 1 -a 0.4 /dev/%i
